p{
    background-color: brown;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    color: white;
}

h1{
    font-family:cursive;
    padding: 10px;
    text-align: center;
    color: white;
}

h2{
    padding:10px;
    text-align: center;
}

button{
    margin: auto 700px;
}

.mypic{
    display: none;
    margin-left: 300px;
}